<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
        <% team.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <b><%= form.label :name %></b>
    <%= form.text_field :name %>
  </div>

  <%= render :template => "teams/members", :locals => { :@users => team.users } %>

  <% if @edit %>
      <%= link_to "Add/Remove Members", edit_members_path(@team) %>
  <% end %>

  <br>
  <br>

  <div class="actions">
    <% if @edit %>
        <%= form.submit("Update Team")%>
    <% else %>
        <%= form.submit("Continue to Adding Members")%>
    <% end %>
  </div>
<% end %>
