<div class="health-metrics-container">
    <%= image_tag("sad.png", class: "emojis") %>  <!-- sad face -->
    <div>  
        <h3 class="title">Current Week's Team Health:</h3>
        <progress class="bar" value="<%= @health_value %>" max="100"></progress>
        <div>
          <p class="<%= @health_value.to_f > 50? "value green" : "value red" %>"><%= @health_value %>% </p>  
        </div>
    </div>
    <%= image_tag("happy.png", class: "emojis") %>  <!-- happy face -->
   
</div>