<table>
  <thead>
    <tr>
      <th>WatIAm</th>
      <th>First Name</th>
      <th>Last Name</th>
      <% if @all_users %>
        <th colspan="1"></th>
      <% elsif @team_health %>
        <th>Completed Weekly Survey</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% if @manager %>
        <tr>
            <td><b><%= @manager.watiam %></b></td>
            <td><b><%= @manager.first_name %></b></td>
            <td><b><%= @manager.last_name %></b></td>       
      </tr>
    <% end %>
      
    <% @users.each do |user| %>
      <tr>
        <% if @team_health %>
            <td><%= user[0].watiam %></td>
            <td><%= user[0].first_name %> </td>
            <td><%= user[0].last_name %></td>
            <td><%= user[1] %></td>
        <% else %>
            <td><%= user.watiam %></td>
            <td><%= user.first_name %> </td>
            <td><%= user.last_name %></td>
        <% end %>        
        <% if @all_users %>
            <% if @team.users.include?user %>
                <%= form_with url: confirm_remove_member_path do |form| %>
                <%= form.hidden_field :user_id, :value => user.id %>
                <td><%= form.submit "Remove User" %></td>
            <% end %>
            <% else %>
                <%= form_with url: confirm_add_member_path do |form| %>
                    <%= form.hidden_field :user_id, :value => user.id %>
                    <td><%= form.submit "Add User" %></td>
                <% end %>
            <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
