<%# Code copied and modified from Hartl's Ruby on Rails Tutorial. %>

<%= form_with(url: login_path, local: true) do |f| %>
<div class="login_container">
    <div class="text-box">
        <%= f.label :watiam, "WATIAM:" %>
        <%= f.text_field :watiam %>         
    </div>
    <div class="text-box">
        <%= f.label :password, "PASSWORD:" %>
        <%= f.password_field :password %>   
    </div>

    <%= f.submit "LOGIN", class: "login_btn"%>
</div>
  <% end %>

 <p><%= link_to "Don't have an account? Sign up here!", signup_path %></p>