<h1>Login</h1>
<%# Code copied and modified from Hartl's Ruby on Rails Tutorial. %>

<%= form_with(url: login_path, local: true) do |f| %>
    <%= f.label :watiam %>
    <%= f.text_field :watiam %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.submit "Login" %>
  <% end %>

 <p><%= link_to "Create Account", signup_path %></p>