<%# Code copied and modified from Hartl's Ruby on Rails Tutorial. %>

<%= form_with(url: login_path, local: true) do |f| %>
<div class="login_container">
    <div class="text-box">
        <%= f.label :watiam %>
        <%= f.text_field :watiam %>         
    </div>
    <div class="text-box">
        <%= f.label :password %>
        <%= f.password_field :password %>   
    </div>

    <%= f.submit "Login", class: "login_btn"%>
</div>
  <% end %>

<div class="link-container"><p><%= link_to "Don't have an account? Sign up here!", signup_path %></p></div>