<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %> 

<div class="column-container">

<div class="row-container">   
  <%= form.radio_button :flag, "User", :checked => true, :style => "display: none;" %>
  <%= form.label :flag_user, "User", :class => 'label' %> 
  <%= form.radio_button :flag, "Manager" %>
  <%= form.label :flag_manager, "Manager", :class => 'label' %>     
</div> 
<!-- 
  - Source (https://stackoverflow.com/questions/50453091/override-a-default-value-in-a-rails-form) used for understanding how to set input values if default values not provided
-->

<div class="field">
    <%= form.label :watiam, style: 'margin-top: 10px' %>
    <%= form.text_field :watiam, value: (form.object.watiam || params[:watiam]) %>
  </div>
<div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, value: (form.object.first_name || params[:first_name]) %>
  </div>
<div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, value: (form.object.last_name || params[:last_name]) %>
  </div>

 <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, value: (form.object.password || params[:password]) %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, value: (form.object.password_confirmation || params[:password_confirmation]) %>
  </div>

<div class="actions">
    <%= form.submit "Create Account", style: 'width: 180px' %>
  </div>

</div>    
<% end %>