<h1>Welcome <%= @user.first_name.capitalize %>!</h1>

<table>
  <thead>
    <tr>
      <th>My Teams</th>
      <th>Weekly Survey</th>
      <th>Current Weekly Health</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, user_team_list_path(id: team.id) %></td>
        <td><% if @completed[team] %>
                 Complete
            <% else %>
                 <%= link_to "Incomplete", weekly_surveys_path(team) %>
            <% end %>
        </td>
        <td><%= @teamHealth[team] %>%</td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Weekly Survey Due Date: <%= @CURRENT_SURVEY_DUE_DATE %> 12:00AM EST</h3>

<div>
    <span>
        <%= link_to 'Create A Ticket', new_ticket_path %>
    </span>
</div>
