<p id="notice"><%= notice %></p>

<h1>User Account Details</h1>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.watiam %>
</p>

<%= link_to 'Home', root_path %> |
<%= link_to 'List All Users', users_path %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
