<h2><%= @team.name%> Members</h2>
<%= render template: 'teams/members' %>

<span>
    <%= link_to 'Create A Ticket', new_team_ticket_path(@team.id) %>
</span>
<br><br>
<%= link_to 'Weekly Surveys', weekly_surveys_path %>
<%= link_to 'Return to Dashboard', user_dashboard_path %>
