<h1>My Tickets</h1>

<%= render template: 'tickets/list' %>

<<<<<<< HEAD
<%= link_to 'New Ticket', new_ticket_path %> | 
<%= link_to 'Return to Dashboard', user_dashboard_path %>
=======
<%= link_to 'Return to Dashboard', user_dashboard_path %>
<%= link_to 'Create a New Ticket', new_ticket_path %>
>>>>>>> 2cc65cfba4ccb5dfa9aab5eccd4e2d5b653b3455
