<h1>WEEKLY SURVEYS</h1>

<! -- Using code from my (emma) spellmanager assignment -->
<! -- also using https://guides.rubyonrails.org/form_helpers.html#making-select-boxes-with-ease -->

<%= form_with url: "/responses", method: :post do |form| %>

  <div class="field">
      <p>How do you feel about this week in comparison to last week?</p>
      <%= form.select :answer, [1,2,3,4,5]%>
</div>


<div class="field">
    <% s = Survey.find_by(user: current_user.id, team: @team.id) %>
    <%= form.hidden_field :survey_id, value: s.id %>
    </div>

<div class="field">
    <%= form.hidden_field :question_number, value: 1 %>
    </div>



<div class="actions">
    <%= form.submit %>
  </div>
<% end %>

