<h1>WEEKLY SURVEYS</h1>

<! -- Using code from my (emma) spellmanager assignment -->
<! -- also using https://guides.rubyonrails.org/form_helpers.html#making-select-boxes-with-ease -->

<%= form_with url: "/responses", method: :post do |form| %>

    <% for i in 0..@questions.length-1 %>
        <div class="field">
             <p><%= @questions[i] %></p>
            <%= form.select :"answer#{i+1}", [1,2,3,4,5] %>
        </div>    
    <% end %>

    <%= form.hidden_field :survey_id, value: @survey.id %>
    <%= form.hidden_field :num_of_questions, value: @questions.count %>
    
    <h5><%= form.submit %></h5>
<% end %>
<div class="user_team_links">
<%= link_to "Back to #{@team.name}", user_team_list_path(id: @team.id) %>
</div>
