<%= form_with(model: manager, local: true) do |form| %>
  <% if manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manager.errors.count, "error") %> prohibited this manager from being saved:</h2>

      <ul>
        <% manager.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!-- 
  - Source (https://www.rubydoc.info/github/plataformatec/simple_form/SimpleForm/FormBuilder#collection_radio_buttons-instance_method) used for understanding the Options available
  - Source (https://api.rubyonrails.org/v6.1.2/classes/ActionView/Helpers/FormBuilder.html#method-i-radio_button) used for radio_button method explaination
-->
<%= form.label :flag do %>
  <%= form.radio_button :flag, "User" %>
  User
  <%= form.radio_button :flag, "Manager", {:checked=>true} %>
  Manager
<% end %>

<div class="field">
    <%= form.label "User/Manager ID" %>
    <%= form.number_field :manager_id, value: (form.object.manager_id || params[:manager_id]) %>
  </div>
<div class="field">
    <%= form.label :watiam %>
    <%= form.text_field :watiam, value: (form.object.watiam || params[:watiam]) %>
  </div>
<div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, value: (form.object.first_name || params[:first_name]) %>
  </div>
<div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name, value: (form.object.last_name || params[:last_name]) %>
  </div>

 <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, value: (form.object.password || params[:password]) %>
  </div>

  <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, value: (form.object.password_confirmation || params[:password_confirmation]) %>
  </div>

<div class="actions">
    <%= form.submit "Create Account" %>
  </div>
<% end %>
