<h1>Welcome <%= @manager.first_name.capitalize %>!</h1>

<table>
  <thead>
    <tr>
      <th>My Teams</th>
    </tr>
  </thead>
  <tbody>
    <% @manager.teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, team_health_path(team) %>  </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Team', new_team_path %>

<br><br>

<h2><u>Weekly Survey Information</u></h2>
<table>
  <thead>
    <tr>
      <th>Questions Asked This Week</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question %>  </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Weekly Survey Due Date: <%= @CURRENT_SURVEY_DUE_DATE %></h3>

<% if @next_week_survey_generated %>
    <button type="button" disabled>Generate Next Week's Surveys</button>
<% else %>
    <%= form_with url: "/surveys", method: :post do |form| %>
        <%= form.hidden_field :manager_id, value: current_user.id %>
        <h5><%= form.submit "Generate Next Week's Surveys"%></h5>
    <% end %>
<% end %>

<br><br>

<div>
    <span>
        <a href=""><%= link_to 'View All Tickets', manager_tickets_path %></a>
        <a href="">Create A Ticket</a>
    </span>
</div>
