<h1>Welcome <%= @manager.first_name.capitalize %>!</h1>

<table>
  <thead>
    <tr>
      <th>My Teams</th>
      <th>Weekly Survey Completion Ratio</th>
    </tr>
  </thead>
  <tbody>
    <% @manager.teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, team_health_path(team) %>  </td>
        <td><%= team.get_survey_completion_ratio(@CURRENT_SURVEY_DUE_DATE) %> students have completed</td>
        <td><%= team.weekly_feedback_team_health(1, @CURRENT_SURVEY_DUE_DATE) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Team', new_team_path %>

<br><br>

<h2><u>Weekly Survey Information</u></h2>
<table>
  <thead>
    <tr>
      <th>Questions Asked This Week</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question %>  </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Weekly Survey Due Date: <%= @CURRENT_SURVEY_DUE_DATE %></h3>

<br><br>

<div>
    <span>
        <a href=""><%= link_to 'View All Tickets', manager_tickets_path %></a>
        <!-- TODO: uncomment this when it has been implemented
            <a href="">Create A Ticket</a> -->
    </span>
</div>
