<h1>Welcome <%= @manager.first_name.capitalize %>!</h1>

<table>
  <thead>
    <tr>
      <th>My Teams</th>
      <th>Current Weekly Health</th>
      <th>Weekly Survey Completion Ratio</th>
    </tr>
  </thead>
  <tbody>
    <% @manager.teams.each do |team| %>
      <tr>
        <td><%= link_to team.name, team_health_path(team) %>  </td>
        <td><%= team.get_total_team_health(0, @CURRENT_SURVEY_DUE_DATE) %> %</td>
        <td><%= team.get_survey_completion_ratio(@CURRENT_SURVEY_DUE_DATE) %> students have completed</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Team', new_team_path %>

<br><br>

<h2><u>Weekly Survey Information</u></h2>
<table>
  <thead>
    <tr>
      <th>Questions Asked This Week</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question %>  </td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Weekly Survey Due Date: <%= @CURRENT_SURVEY_DUE_DATE %></h3>

<br><br>

<div>
    <span>
        <a href=""><%= link_to 'View All Tickets', manager_tickets_path %></a>
        <!-- TODO: uncomment this when it has been implemented
            <a href="">Create A Ticket</a> -->
    </span>
</div>

<br><br>
<h2>Confused?🤔 Get information here!</h2>
<h3>Teams:</h3>
<p style="margin-left:10px; margin-right:5%;">
    Teams are where you can view all of the teams you manage!
    <br>
    <br>
    The table displayed above shows you all of your teams, their weekly health, and number of the students that have completed the current week's survey. 
    <br>
    By the way, you can find out more about what weekly health means by clicking on any of the teams lists!
    <br><br>
    <b>What if I don't have any teams yet?😲</b>
    <br>
    No problem! You can easily get your team going and start monitoring that team health by clicking the "New Team" link found under the first table. Happy team building!
</p>
<h3>Weekly Survey Information:</h3>
<p style="margin-left:10px; margin-right:5%;">
    The wekly survey information is where we show off all the questions that your amazing team members will be answering this week!🙌🙌🙌
    <br><br>
    <b>How does this work?</b>
    <br>
    Every week, your team members Below the weekly survey information 

</p>
