<h1>My Team's Surveys</h1>
<table>
  <thead>
    <tr>
      <th>Survey ID</th>
      <th>Team</th>
      <th>Answered By</th>
<!--       <th>Member Involved</th>
      <th>Rating</th>
      <th>Date</th> -->
    </tr>
  </thead>

  <tbody>
<% if @surveys %>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= link_to survey.id, survey %></td> 
        <td><%= Team.find(survey.team_id).name %></td>
        <td><%= User.find(survey.creator_id).first_name %> </td>
<!--         <td><% survey.users.each do |user| %>
            <%= user.first_name  %>
            <% end %></td>
        <td><%= survey.ticket_responses.fifth.answer %></td>
        <td><%= ticket.date %></td> -->

      </tr>
    <% end %>
    <% end %>
<!--     <% if @sentTickets %>  
    <% @sentTickets.each do |ticket| %>
      <tr>
        <td><%= link_to ticket.id, ticket %></td>
        <td><%= User.find(ticket.creator_id).first_name %> </td>
        <td><%= ticket.date %></td>
      </tr>
    <% end %>
    <% end %>
    <% if @receivedTickets %>  
    <% @receivedTickets.each do |ticket| %>
      <tr>
        <td><%= link_to ticket.id, ticket %></td> 
        <td>Anonymous</td>
        <td><%= ticket.date %></td>
      </tr>
    <% end %>
    <% end %> -->
  </tbody>
</table>
