<h1><%=@team.name%> Health Metrics</h1>

<%= render template: 'teams/health' %>

<h2>Members</h2>
<%= render template: 'teams/members' %>
<br>
<%= link_to 'Edit Team', edit_team_path(@team) %>

<br><br>
<h2>Team Health History</h2>
<table>
  <thead>
    <tr>
      <th>Week</th>
      <th>Team Health</th>
    </tr>
  </thead>
  <tbody>
    <% @team_health_history.each do |history| %>
      <tr>
        <td><%= history[0]%></td>
        <td><%= history[1]%>%</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>
<%= link_to 'Return to Dashboard', manager_dashboard_path %>

<br><br>
<a href="#help"><h2>Confused?🤔 Get information here!</h2></a>

<div id="help" class="overlay">
  <div class="popup">
    <h3>Team Health:</h3>
    <p style="margin-left:10px; margin-right:5%;">
        This is the place to be if you want to know more about your team's health!
        <br>
        <br>
        <b>Current Week's Team Health</b>
        <br>
        At the top of the page you will find a quick visualization that reflects your current week's team health.
        <br><br>
        The weekly team health is a direct reflection of how your team feels about the current week as well as their teammates!
        <br>
        It's simple! The higher the number, the happier your team is!🥳
        <br><br>
        <b>How will I know if my team members actually are completing their weekly surveys?</b>
        <br>
        We are glad you asked! Below the team health visualization we have a quick table that displays:
    </p>
    <p style="margin-left:30px">
        - Team Member WatIAm
        <br>
        - First Name
        <br>
        - Last Name
        <br>
        - Weekly survey completion status
    </p>
    <p style="margin-left:10px; margin-right:5%;">
        That last one is the most imporant one! Every week you will be able to see whether every team member has completed their survey.
        <br>
        Here at Paen, we recommend that you do your best to motivate your team members to always complete their surveys, as the more team members complete their surveys, the more accurate our estimation will be!
    </p>
    <h3>What if my team roster needs some touch-ups?</h3>
    <p style="margin-left:10px; margin-right:5%;">
        Teamwork makes the dream work, right?🧐
        <br>
        If that team needs some new members or if you are saying goodbye to others, use the "Edit Team" link
    </p>
    <h3>What is Team Health History?</h3>
    <p style="margin-left:10px; margin-right:5%;">
        You know how we have that super cool team health visualization for this week's health at the top of the page?
        <br>
        What if we told you, that you could see a history of all your team's previous week's health??😮
        <br><br>
        Great news: You can!
        <br><br>
        The "Team Health History" shows the past week's team health score for this team!.
        <br>
        The most recent week's score will always be found right at the top of the history table. Therein, the oldest history record, will be found at the bottom of the page.
    </p>
    <a href="#">close</a>
  </div>
</div>

