<h1><%=@team.name%> Health Metrics</h1>

<br>

<div class="health-metrics-container">
    
    <h1 class="emojis">&#128577;</h1> <!-- sad face -->
    <div>   
        <progress class="bar" value=<%= @health_value %> max="100"></progress>
        <div>
          <p class="value"><%= @health_value %>% </p>  
        </div>
    </div>
    <h1 class="emojis">&#128522;</h1> <!-- happy face -->
    
</div>

<h2>Members</h2>
<%= render template: 'teams/members' %>
<br>
<%= link_to 'Edit Team', edit_team_path(@team) %>

<br><br>
<h2>Team Health History</h2>
<table>
  <thead>
    <tr>
      <th>Week</th>
      <th>Team Health</th>
    </tr>
  </thead>
  <tbody>
    <% @team_health_history.each do |history| %>
      <tr>
        <td><%= history[0]%></td>
        <td><%= history[1]%>%</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br>
<%= link_to 'Return to Dashboard', manager_dashboard_path %>



