<h1>My Team's Surveys</h1>

<table>
  <thead>
    <tr>
      <th>Survey ID</th>
      <th>Team</th>
      <th>Answered By</th>
      <th>Member Involved</th>
      <th>Rating</th>
      <th>Date</th>
        <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% if @tickets %>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= link_to ticket.id, ticket %></td> 
        <td><%= Team.find(ticket.team_id).name %></td>
        <td><%= User.find(ticket.creator_id).first_name %> </td>
        <td><% ticket.users.each do |user| %>
            <%= user.first_name  %>
            <% end %></td>
        <td><%= ticket.ticket_responses.fifth.answer %></td>
        <td><%= ticket.date %></td>

      </tr>
    <% end %>
    <% end %>
    <% if @sentTickets %>  
    <% @sentTickets.each do |ticket| %>
      <tr>
        <td><%= link_to ticket.id, ticket %></td>
        <td><%= User.find(ticket.creator_id).first_name %> </td>
        <td><%= ticket.date %></td>
      </tr>
    <% end %>
    <% end %>
    <% if @receivedTickets %>  
    <% @receivedTickets.each do |ticket| %>
      <tr>
        <td><%= link_to ticket.id, ticket %></td> 
        <td>Anonymous</td>
        <td><%= ticket.date %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<%= link_to 'Return to Dashboard', manager_dashboard_path %>

<br><br>

