<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
        <% ticket.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-container">
    <div>
      <p> 
        <nobr>
          Date Created:
          <%= Time.now.strftime("%m/%d/%Y") %>
        </nobr>
      </p>
    </div>

    <div class="priority-box">
      <p>
        <nobr>
          Priority:
          <!-- Source (https://guides.rubyonrails.org/v2.3/form_helpers.html) used for learning how to make dropdowns with set values correlating to options -->
          <%= form.select(:priority, options_for_select([['Low', 3], ['Medium', 2], ['High', 1]])) %>
        </nobr>
      </p>
    </div>

    <div class="type-box">
      <p>
        <nobr>
          Type:
          <%= form.select(:type, options_for_select(['Conflict', 'Positive', 'Neutral'])) %>
        </nobr>
      </p>
    </div>

    <div class="category-box">
      <p>
        <nobr>
          Category:
          <%= form.select(:category, options_for_select(['Personal', 'Work', 'Other'])) %>
        </nobr>
      </p>
    </div>
      
    <div class="user-box">
      <p>
        <nobr>
          Users:  <br/>
          <%= form.collection_select(:users, User.all, :id, :first_name, {:prompt => "Please Select All Members Involved"}, {:multiple => true}) %>
        </nobr>
      </p>
    </div>
      
    <div class="description-box">
      <p>
        <nobr>
          Description: <br/>
          <%= form.text_area :description, :placeholder => "Enter description here..", :maxlength => 500, :class => "description-text-box" %>
        </nobr>
      </p>
    </div>
    
    <div class="field">
      <!--  Source (https://www.rubyguides.com/2015/12/ruby-time/) Used for understanding how the Ruby time library works -->
      <%= form.hidden_field :date, value: Time.now %>
      <%= form.hidden_field :creator_id, value: current_user.id %>
    </div>
    
    <div class="submit-button">
      <%= form.submit %>
    </div>
  </div>
<% end %>
