<table>
  <thead>
    <tr>
      <th>Ticket ID</th>
      <th>Created By</th>
      <th>Priority</th>
      <th>Type</th>
      <th>Category</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% if @tickets %>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= link_to ticket.id, ticket %></td> 
        <td><%= User.find(ticket.creator_id).first_name %> </td>
        <td><%= ticket.priority %></td>
        <td><%= ticket.type %></td>
        <td><%= ticket.category %></td>
        <td><%= ticket.date %></td>
      </tr>
    <% end %>
    <% end %>
    <% if @sentTickets %>  
    <% @sentTickets.each do |ticket| %>
      <tr>
        <td><%= link_to ticket.id, ticket %></td>
        <td><%= User.find(ticket.creator_id).first_name %> </td>
        <td><%= ticket.priority %></td>
        <td><%= ticket.type %></td>
        <td><%= ticket.category %></td>
        <td><%= ticket.date %></td>
      </tr>
    <% end %>
    <% end %>
    <% if @receivedTickets %>  
    <% @receivedTickets.each do |ticket| %>
      <tr>
        <td><%= link_to ticket.id, ticket %></td> 
        <td>Anonymous</td>
        <td><%= ticket.priority %></td>
        <td><%= ticket.type %></td>
        <td><%= ticket.category %></td>
        <td><%= ticket.date %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
