<table>
  <thead>
    <tr>
      <th>Ticket ID</th>
      <th>Created By</th>
      <th>Priority</th>
      <th>Type</th>
      <th>Category</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
    <% if @tickets %>  
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.id %></td> <!-- TODO: clickable link to view information about that ticket -->
        <td><%= User.find(ticket.user_id).first_name %> </td>
        <td><%= ticket.priority %></td>
        <td><%= ticket.type %></td>
        <td><%= ticket.category %></td>
        <td><%= ticket.date %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
