<table>
  <thead>
    <tr>
      <th>Ticket ID</th>
      <th>Created By</th>
      <th>Priority</th>
      <th>Type</th>
      <th>Category</th>
      <th>Description</th>
      <th>Date</th>
      <th>Users</th>
    </tr>
  </thead>

  <tbody>
    <% if @tickets %>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= link_to ticket.id, ticket %></td> 
        <td><%= User.find(ticket.creator_id).first_name %> </td>
        <td><%= ticket.priority %></td>
        <td><%= ticket.type %></td>
        <td><%= ticket.category %></td>
        <td><%= ticket.description %></td>
        <td><%= ticket.date %></td>
        <td><%  ticket.users.each do |user| %>
            <ul>
              <li><%= "#{user.watiam}: #{user.first_name} #{user.last_name}" %></li>
            </ul>
            <% end %></td>
      </tr>
    <% end %>
    <% end %>
    <% if @sentTickets %>  
    <% @sentTickets.each do |ticket| %>
      <tr>
        <td><%= link_to ticket.id, ticket %></td>
        <td><%= User.find(ticket.creator_id).first_name %> </td>
        <td><%= ticket.priority %></td>
        <td><%= ticket.type %></td>
        <td><%= ticket.category %></td>
        <td><%= ticket.description %></td>
        <td><%= ticket.date %></td>
        <td><%  ticket.users.each do |user| %>
            <ul>
              <li><%= "#{user.watiam}: #{user.first_name} #{user.last_name}" %></li>
            </ul>
            <% end %></td>
      </tr>
    <% end %>
    <% end %>
    <% if @receivedTickets %>  
    <% @receivedTickets.each do |ticket| %>
      <tr>
        <td><%= ticket.id %></td> 
        <td>Anonymous</td>
        <td><%= ticket.priority %></td>
        <td><%= ticket.type %></td>
        <td><%= ticket.category %></td>
        <td><%= ticket.description %></td>
        <td><%= ticket.date %></td>
        <td> Anonymous</td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
