<table>
    <thead>
        <th colspan="2">Ticket <%= @ticket.id %> Details </th>
    </thead>
    <tbody>
        <tr>
          <td><b>Creator:</b></td>
          <td><%= User.find(@ticket.creator_id).full_name_with_watiam %></td>
        </tr>
        
        <tr>
          <td><b>Member Involved:</b></td>
          <td><%= @ticket.users.first.full_name_with_watiam %></td>
        </tr>
        
        <tr>
          <td><b>Date Created:</b></td>
          <td><%= @ticket.date %></td>
        </tr>
        
        <tr>
          <td><b>Communication:</b></td>
          <td><%= @responses_to_words[0] %></td>
        </tr>
        
        <tr>
          <td><b>Behaviour:</b></td>
          <td><%= @responses_to_words[1] %></td>
        </tr>
        
        <tr>
          <td><b>Teamwork:</b></td>
          <td><%= @responses_to_words[2] %></td>
        </tr>
        
        <tr>
          <td><b>Availability:</b></td>
          <td><%= @responses_to_words[3] %></td>
        </tr>
        
        <tr>
          <td><b>Overall Rating:</b></td>
          <td><%= @responses_to_words[4] %>/10</td>
        </tr>
    </tbody>
</table>

<br>
<div class="link-container">
    <%= link_to 'Back', team_tickets_path(@ticket.team) %>
</div>
