<p>
  <strong>Survey:</strong>
  <%= @response.survey_id %>
</p>

<p>
  <strong>Question number:</strong>
  <%= @response.question_number %>
</p>

<p>
  <strong>Response:</strong>
  <%= @response.answer %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Show All Responses', responses_path %> | 
<%= link_to "Back to Dashboard", user_dashboard_path %>
