<table>
  <thead>
    <tr>
      <th>Survey ID</th>
      <th>Team</th>
      <th>Answered By</th>
      <th>Health</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
<% if @surveys %>
    <% @surveys.each do |survey| %>
      <tr>
        <td><%= link_to survey.id, survey %></td> 
        <td><%= Team.find(survey.team_id).name %></td>
        <td><%= User.find(survey.user_id).first_name %> </td>
        <td><%= survey.get_survey_rating(survey) %></td>
        <td><%= survey.date %></td>
      </tr>
    <% end %>
<% end %>

    
  </tbody>
</table>
<br>
