<% if @surveys.length >0 %>
    <table>
      <thead>
        <tr>
          <th>Survey ID</th>
          <th>Answered By</th>
          <th>Question 1</th>
          <th>Question 2</th>
          <th>Question 3</th>
          <th>Question 4</th>
          <th>Average Rating</th>
          <th>Date</th>
        </tr>
      </thead>

      <tbody>
        <% if @surveys %>
            <% @surveys.each do |survey| %>
<!--           make this and everything before survey into this_weeks_surveys -->
              <% if survey.responses.exists? %>
                  <tr>
                    <td><%= link_to survey.id, survey %></td> 
                    <td><%= User.find(survey.user_id).first_name %> </td>
                    <td><%= survey.responses.first.answer %></td>
                    <td><%= survey.responses.second.answer %></td>
                    <td><%= survey.responses.third.answer %></td>
                    <td><%= survey.responses.fourth.answer %></td>
                    <% if survey.get_survey_rating(survey).to_i < 2 %>
                        <td class="red"><%= survey.get_survey_rating(survey) %></td>
                    <% elsif survey.get_survey_rating(survey).to_i > 5 %>
                        <td class="green"><%= survey.get_survey_rating(survey) %></td>
                    <% else %>
                        <td><%= survey.get_survey_rating(survey) %></td>
                    <% end %>
                    <td><%= survey.date %></td>
                  </tr>
              <% end %>
            <% end %>
        <% end %>
      </tbody>
    </table>
<% else %>
    Your team has not submitted any surveys this week! Please remind your team members to submit their surveys.
<% end %>
<br>
