<p>
  <strong>Answered By:</strong>
    <%= User.find(@survey.user_id).full_name_with_watiam %>
</p>

<p>
  <strong>Team:</strong>
    <%= Team.find(@survey.team_id).name %>
</p>

<p>
  <strong>Date Created:</strong>
  <%= @survey.date %>
</p>

<p>
  <strong>How do you feel about this week in comparison to last week?:</strong>
  <%= @survey.responses.first.to_i %>
</p>

<p>
  <strong>How did you feel about this week?:</strong>
  <%= @survey.responses.second.to_i %>
</p>

<p>
  <strong>How would you rate your communication with your team members this week?:</strong>
  <%= @survey.responses.third.to_i %>
</p>

<p>
  <strong>How do you feel about the workload you had this week?:</strong>
  <%= @survey.responses.fourth.to_i %>
</p>

<%= link_to 'Back', team_surveys_path(@survey.team) %>

