<!DOCTYPE html>
<html>
  <head>
    <title>W2021Team2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap" rel="stylesheet">
  </head>

  <body>
    <!-- source: https://stackoverflow.com/questions/1203892/how-can-i-find-out-the-current-route-in-rails -->
    <% @current_route = request.env['PATH_INFO'] %>
    <% if @current_route != "/login" && @current_route != "/signup" && @current_route != "/users" && @current_route != "/managers" %>
        <div class="header-container">        
            <a id="logo" href="<%= current_user_is_manager ? "/managers_dashboard" : "/dashboard" %>"> <%= image_tag("logo.png", class: "logo") %> </a>
            <div class="row-container", style="align-self:center;">
                <%= button_to 'About', about_path, :method =>"get", :class => "about_button" %> 
                &nbsp;
                <%= button_to 'Logout', logout_path, :method =>"get", :class => "logout_button" %> 
            </div>
        </div>
     <% else %>
         <div class="row-container">        
            <a id="logo" href="<%= current_user_is_manager ? "/managers_dashboard" : "/dashboard" %>"> <%= image_tag("logo.png", class: "logo", style: "align-self: center;") %> </a>
        </div>
     <% end %>
      
    <% flash.each do |key, value| %>
        <%= content_tag :div, value, id: "#{key}" %>    
    <% end %>  
      
    <%= yield %>
  </body>
</html>
